*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
.header{
    width: 100%;
    height: 387px;
    padding-top: 32px;
    background: rgba(197, 1, 10, 1);
}
.headerGroup{
    display: flex;
    align-items: center;
    column-gap: 32px;
}
.headerWraper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}
.nav{
    display: flex;
    column-gap: 27px;
}
.linkItem{
    color: #fff;
    font-size: 16px;
    font-weight: 400px;
    letter-spacing: 0.005em;
    font-family: 'Mulish', sans-serif;
    transition-duration: 0.3s;
}
.linkItem:hover{
    font-weight: 600;
    transition-duration: 0.5;
    border-bottom: 1px solid #fff;
}
.btnAdd{
    width: 158px;
    height: 48px;
    background: rgba(250, 60, 69, 1);
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700px;
    border: none;
    cursor: pointer;
}
.headerTitle{
    padding-top: 105px;
    text-align: center;
    font-weight: 700;
    font-size: 62px;
    color: #fff;

}
.main{
    margin: 0 auto;
    width:1232px;
}
.pageLink{
    padding-top: 80px;
    font-size: 24px;
    font-weight: 700;
    color: #000;
}
.content{ 
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}
.contentLeft{
    width: 816px;
}
.contentRight{
    width:400px;
    height: 560pxs;
    background: purple;
}
.leftTitle{
    padding-top: 54px;
    font-style: normal;
font-weight: 700;
font-size: 31px;
line-height: 120%;
/* or 37px */

letter-spacing: 0.005em;
}
.leftText{
    padding-top: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */
    
    letter-spacing: 0.005em;
    
}
.video{
    width: 100%;
    height: 440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(226, 226, 234, 1);
    border-radius: 8px;
}
.offer{
    width: 100%;
    height: 560px;
    border-radius: 8px;
    transition-duration: 0.5s;
}
.offer:hover{
    opacity: 0.5;
    transition-duration: 0.7s;
}
.offerTitle{
    display: block;
    width: 263px;
    margin: 0 auto;
    padding-top: 166px;
    text-align: center;
    font-weight: 700;
    font-size: 39px;
    line-height: 120%;
/* or 47px */

    text-align: center;
    letter-spacing: 0.005em;
    color: #fff;
}
.offerText{
    padding-top: 24px;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    /* or 29px */

    text-align: center;
    letter-spacing: 0.005em;
    color: #fff;
}
.btnOffer{
    display: block;
    margin: 40px auto 0 auto;
    width: 102px;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */
    
    text-align: center;
    letter-spacing: 0.005em;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    background: none;
}