img {
    border-radius: 15px;
    border: 1px solid;
    padding: 7px; background-color: #01511a;
}
h1 {
    text-shadow: 2px 2px 5px darkblue;
}
body {
    background-image: url(wallpaper.gif);
    padding: 15px;
}
button {
    border-radius: 8px;
}
input {
    border-radius: 4px;
}