*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 70px;
    background: rgb(71, 183, 77);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.block{
    margin: 0 0;
    transition-duration: 0.5s;
    width: 350px;
    height: 230px;
    background: blue;
}
.block:hover{
    transition-duration: 0.7s;
    background: red;
    width: 100%;
    height: 200px;
}
.button{
    font-size: 18px;
    margin: 70px;
    width: 175px;
    height: 70px;
    color: blueviolet;
    border-radius: 24px;
    background: rgb(255, 255, 255);
}
.button:hover{
    transition-duration: 0.7s;
    color: #fff;
    border: none;
    background-color: rgb(131, 0, 253);
}
.button:focus{
    transition-duration: 0.7;
    border: none;

}
.logo{
    font-size: 34px;
    color: #fff;
}
.nav{
    display: flex;
    justify-content: space-between;
    width: 400px;
}
.nav-link{
    width: 80px;
    
}